/DataManagement.Interfaces/obj/
/FlickClick.Implementations.UnitTest/obj/
/FlickClick.Implementations/bin/
/FlickClick.Implementations/obj/
/FlickClick.Interfaces/obj/
/FlickClick.UnitTest/obj/
/FlickClick/obj/
/FlickClick/bin/
/Infrastructure.Implementations.UnitTest/bin/
/Infrastructure.Implementations.UnitTest/obj/
/packages/
/Output/Debug/
/Infrastructure.Interfaces/obj/
/Infrastructure.Implementations/obj/
