<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlickClick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File"/>
    <add key="serilog:write-to:File.path" value="Log.txt"/>
    <add key="serilog:write-to:File.rollingInterval" value="Day"/>
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10"/>
    <add key="serilog:minimum-level" value="Verbose"/>
  </appSettings>
  <applicationSettings>
    <FlickClick.Properties.Settings>
      <setting name="FLICKR_KEY" serializeAs="String">
        <value>5bPRDveArdI6v6jh+8H3rKZIxbNm0NZw0nKJOImJURsDsG08EhdtUpWbdHyxNwf4l5KUGgmXuoi+3Pulmj+rNy9WmZkRNW9Ugic0i8oie90=</value>
      </setting>
      <setting name="FLICKR_SECRET" serializeAs="String">
        <value>aiRa2ZFKzL5WBr7sqn44EI5cIBnnWrw+xdqOoG1nePPFZYY/hdfipII/L1NC+G1i</value>
      </setting>
    </FlickClick.Properties.Settings>
  </applicationSettings>
</configuration>